/.ipynb_checkpoints
/816-3.ipynb
/816.aux
/816.html
/816.jl
/816.jmd
/816.log
/816.pdf
/816.synctex.gz
/816.tex
/checkperl.sty
/jl_DrJQgF
/jl_ZzBgUG
/jl_oL2edF
/lrep_d1.dta
/lrep_d1.pl
/lrep_d2.dta
/lrep_d2.pl